<html>
	<head>
		<title>Add Patient data</title>
	</head>

	<body bgcolor="lightblue">
		
		<center>
			<h1>Patient Data Fetcher</h1>
			<div class="container">
				<form action="post_data()">

					<label for="fname">Patient ID :</label>
					<input type="text" id="pid" name="PatientID" placeholder="Enter Patient ID">

					<br><br><br><label for="fname">Image link :</label>
					<input type="url" id="imageurl" name="iurl" placeholder="Link of the image loaction">
	
    
					<br><br><br><input type="submit" value="Submit">

				</form>
			</div>
		</center>
	</body>
</html>
